<head>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
	 rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
	 rel="stylesheet" type="text/css">



</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="box row">

					<div class="col-lg-12 text-center">
						<div id="myCarousel" class=" img-responsive carousel slide">
							<!-- Indicators -->
							<ol class="carousel-indicators hidden-xs">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								<li data-target="#carousel-example-generic" data-slide-to="3"></li>
								<li data-target="#carousel-example-generic" data-slide-to="4"></li>

							</ol>


							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img class="respond" src="../../images/carousel/farmers-market.jpg" alt="">
								</div>
								<div class="item">
									<img class="img-responsive img-full" src="../../images/carousel/apples-1841132_1920.jpg" alt="">
								</div>
								<div class="item">
									<img class="img-responsive img-full" src="../../images/carousel/cherries-1425293_1920.jpg" alt="">
								</div>
								<div class="item">
									<img class="img-responsive img-full" src="../../images/carousel/Image%20uploaded%20from%20iOS%20(1).jpg" alt="">
								</div>
								<div class="item">
									<img class="img-responsive img-full" src="../../images/carousel/jam-1024447_1920.jpg" alt="">
								</div>


							</div>
							<!-- Controls -->
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<span class="icon-prev"></span>
							</a>

							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<span class="icon-next"></span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<span class="icon-next"></span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<span class="icon-next"></span>
							</a>

						</div>
					</div>
				</div>
			</div>

		</div>

		<script>
			$(function () {

				$('.carousel-control').click(function (e) {
					e.preventDefault();
					$('#myCarousel').carousel($(this).data());
				});

			});//END document.ready
		</script>


		<div class="box">
			<div class="row">
				<div class="col-md-12">
					<div class="box row">

						<div class="col-lg-12">
							<hr>
							<h2 class="intro-text text-center"> GROWING HEALTHY LIVES AND A HEALTHY COMMUNITY
							</h2>
							<hr>



							<div class="container">
								<div class="row">
									<div class="col-sm-4 col-lg-4">
										<img class="img-resize" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq1FXJj35bhREWXk542sHedQOZ5VlroYtdtQzs6XJE0nQclP9vrQ"
										 alt="" />
									</div>
									<div class="col-sm-4 col-lg-4">
										<img class="img-resize" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8pm1FkQVVNTa8hbVEcsHUgoXygBaVpS-XF4MuizdIF5C_AYiw"
										 alt="" />
									</div>

									<div class="col-sm-4 col-lg-4">
										<img class="img-resize" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS62gMYefn1ReCd72hJoNMrzjryf1YTYvq35HVNTMHfjre-jjuE2w"
										 alt="" />
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</body>