<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box row">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 firstBlogPost">
            <h3>About</h3>
            <img id="farmers" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvIw7fnmZ0EgjG-ENNHeH4KSX10fkOXmIn8g9j87Jawlz85nAo">
            <p class="date"></p>
            <p>
              Our Mission is to preserve and enhance Farmers Markets to ensure future prosperity. The Farmers Markets area serves as the
              heartbeat of the community where people come together to enjoy the convenience and friendliness of hometown
              businesses, local services, specialty and convenience shopping and unique recreational and cultural activities.
              Our downtown is the pride of our community providing both financial and intrinsic value, a popular destination
              for visitors as well as new businesses and residents while preserving our historical assets.</p>

            <p>The economic vitality, physical appearance and perception of the community’s district acts as the barometer of
              health for the entire community. To that the Downtown Sheridan Association, a not-for-profit volunteer organization,
              is actively working to maintain a healthy downtown by focusing on historic preservation and economic development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>